html {
    box-sizing: border-box;
}

The Universal Selector
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
}

body {
    background-color: #AEAC9A;
    font-family: sans-serif;
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 50% 50%;
    /* grid-template-rows: auto 1fr 1fr 2fr 2fr; */
    grid-template-areas: 
        "nav nav"
        "aside main"
        "article article"
        "footer footer";
} 
nav, article, footer {
    grid-column: 1 / 3;
}
a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: white;
}

nav {
    background-color: yellow;
    display: flex;
    flex-direction: row;
    height: 45px;
    justify-content: flex-end;
    align-items: center;
}

nav > div {
    font-size: 20px;
    margin: 0 10px;
} 

nav > div:first-child {
    margin-right: auto;
}

aside {
    background-color: blueviolet;
    height: 600px;
}

main {
    background-color: #AEAC9A;
}

article {
    background-color:aqua;
    height: 600px;
}

footer {
    background-color: rgb(255, 127, 191);
    height: 700px;
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
}